<!-- navbar.hbs -->
<nav class="navbar">
    <div class="container-fluid">
        <!-- Enlace con ícono y texto -->
        <a class="navbar-brand" href="/">
            <i class="bi bi-shop"></i> 
        </a>
        <!-- Ícono de carrito de compras con texto -->
        <a href="/products" class="cart-icon">
            <i class="bi bi-cart-fill"></i> 
        </a>
        <!-- Nuevo enlace con "+" -->
        <a href="/realtimeproducts" class="cart-icon">
            <i class="bi bi-plus-circle-fill"></i> 
        </a>
    </div>
</nav>

